<nav class="navbar navbar-expand-lg bg-body-tertiary">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">Quiz Application</a>
      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup"
         aria-expanded="false"
         aria-label="Toggle navigation"
         (click)="toggleNavbar()">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div
         class="collapse navbar-collapse"
         id="navbarNavAltMarkup"
         [ngClass]="{ show: isNavbarExpanded }">
         <div class="navbar-nav">
            <a
               class="nav-link active"
               routerLink="/"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }"
               >Home</a
            >
            <a class="nav-link" routerLink="/list" routerLinkActive="active"
               >Quizzes</a
            >
         </div>
      </div>
   </div>
</nav>
